body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

#game-container {
    position: relative;
}

#gameCanvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

#selected-info p {
    margin: 5px 0;
}

#startButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
